body{
    background-color: rgb(226, 247, 247);
    color: #432;
}

.header{
    background-color: white;
    width: 180px;
    padding: 10px;

    & a{
        display: block;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        background-color: blue;
        margin: 0 auto;
        transition: transform 1s;

        &:hover{
            transform: rotate(360deg);
        }
    }
}

ul{
    list-style: none;
    padding-left: 0;
    text-align: center;

    & li{
        margin-bottom: 10px;
    }
}

